.movie {
	max-height: 200px;
	text-align: center;

	&__image {
		img {
			max-height: 200px;
		}
	}

	&__content {
		&:after {
			content: "";
			border-top: 1px solid;
			width: 100%;
			margin-bottom: 15px;
			display: block;
		}
	}

	&__title {
		display: block;

		h5, a {
			display: inline-block;
		}

		h5 {
			margin-bottom: 0;
		}

		a {
			max-width: 100%;

			img {
				width: 20px;
			}
		}
	}

	&__subtitle {
		display: block;
		color: lightgray;
		font-size: 12px;
		margin-bottom: 10px;
	}

	&__buttons {
		&-watch {
			display: inline-block;
		}
	}

	&__opinion {
		display: block;

		&-rating {
			display: block;
			margin-right: 10px;
		}

		&-text {
			display: block;
			min-width: 60%;
			width: 100%;
			margin: 10px 0;
			vertical-align: top;
		}

		@media (min-width: 1000px) {
			&-rating {
				display: inline-block;
			}

			&-text {
				display: inline-block;
				width: auto;
				margin: 0;
			}

			&-button {
				display: inline-block;
			}
		}
	}

	@media (min-width: 550px) {
		text-align: left;

		&__content {
			&:after {
				content: none;
			}
		}
	}
}
