.search {
	&__wrapper {
		position: relative;
	}

	&__button {
		font-size: 36px;
	}

	&__list {
		position: absolute;
		top: 50px;
		left: 0;
		width: 100%;

		&-item {
			list-style: none;
			margin: 0;
			border: 1px solid;
			border-bottom: none;
			padding: 5px 10px;

			&:last-child {
				border-bottom: 1px solid;
			}

			&__poster {
				line-height: 10px;

				img {
					width: 50%;
				}
			}

			&__data {
				margin-left: 0;
			}
		}
	}
}
