.search {
	position: relative;
	margin-bottom: 20px;

	&__input {
		margin: 0;
	}

	&__button {
		margin: 0;
	}

	&__loader {
		position: absolute;
		top: calc(50% - 17px);
		left: calc(50% - (39px / 2));
	}
}
